<%- include('../port/layout-start', {book: book}) %>
<%- include('../port/menu') %>

<h1>Просмотр книги</h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Название: <%= book.title %></h5>
                <p class="card-text">Описание: <%= book.description %></p>
                <p class="card-text">Автор: <%= book.authors %></p>
                <p class="card-text">Любимое: <%= book.favorite %></p>
                <p class="card-text">Обложка: <%= book.fileCover %></p>
                <p class="card-text">Имя файла: <%= book.fileName %></p>
                <p class="card-text">Имя файла: <%= book.fileName %></p>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/todo/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/todo/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<%- include('../port/layout-end') %>