<%- include('./port/layout-start', {title: title}) %>
<%- include('./port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
    </div>
</div>

<% if (!user) { %>
    <p>Главная</p> 
    <p>Пожалуйста, <a href="/mod/user/login"> авторизуйтесь </a></p>
    <p>Или пройдите регистрацию <a href="/signup"> Регистрация </a></p>
<% } else { %>
    <p>Привет, <%= user.username %>. </p>
    <p>Перейти в <a href="/me">профиль</a>.</p>
    <%- include('./books/books') %>
<% } %>

<%- include('./port/layout-end') %>