<%- include('../port/layout-start', {book: book, title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Название: <%= book.title %></h5>
                <p class="card-text">Описание: <%= book.description %></p>
                <p class="card-text">Автор: <%= book.authors %></p>
                <p class="card-text">Любимое: <%= book.favorite %></p>
                <p class="card-text">Обложка: <%= book.fileCover %></p>
                <p class="card-text">Имя файла: <%= book.fileName %></p>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/mod/books/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/mod/books/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const form = document.getElementById('form');
  const input = document.getElementById('input');
  const messages = document.getElementById('messages');
  const roomName = location.pathname.split('/').pop();

  const socket = io.connect('/', {query: `roomName=${roomName}`});

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    if (input.value) {
      socket.emit('message-to-room', input.value);
      input.value = '';
    }
  });

  socket.on('message-to-room', (msg) => {
    const item = document.createElement('li');
    item.textContent = msg;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>

<%- include('../port/layout-end') %>